body {
    background-color: #f9f4ef;
    font-family: Verdana;
    color: #594a4e;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 100px;
}

p {
    text-align: left;
}

#namareporter {
    font-weight: bold;
    font-size: xx-small;
    color: #716040;
}

.publis {
    font-size: xx-small;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    font-size: 104%;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.agakmasuk {
    margin-left: 20px;
}

.gambar {
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(106, 106, 106);
}